<div>
  <!--<div class="titles">
    <div class="chargers-title"><h2>Chargers</h2></div>
    <div class="parking-spots-title"><h2>Parking Spots</h2></div>
  </div>-->

  <p class="info">TAP CAR TO TOGGLE.<br>TAP CHARGER THEN CAR TO CHARGE.</p>

  <div class="main-container">
    <div class="row">
      <div class="col-40"><div><app-charger [chargerNumber]="2"></app-charger></div></div>
      <div class="col-60"><app-parking-spot [spotNumber]="1"></app-parking-spot></div>
    </div>
    <div class="row">
      <div class="col-40"><div><app-charger [chargerNumber]="2"></app-charger></div></div>
      <div class="col-60"><app-parking-spot [spotNumber]="2"></app-parking-spot></div>
    </div>
    <div class="row">
      <div class="col-40"><div><app-charger [chargerNumber]="1"></app-charger></div></div>
      <div class="col-60"><app-parking-spot [spotNumber]="3"></app-parking-spot></div>
    </div>
    <div class="row">
      <div class="col-40"><div><app-charger [chargerNumber]="1"></app-charger></div></div>
      <div class="col-60"><app-parking-spot [spotNumber]="4"></app-parking-spot></div>
    </div>
  </div>

  <!--<div class="main">

    <div class="chargers">

      <div><app-charger [chargerNumber]="2"></app-charger></div>
      <div><app-charger [chargerNumber]="1"></app-charger></div>
      <div><app-charger [chargerNumber]="1"></app-charger></div>
      <div><app-charger [chargerNumber]="1"></app-charger></div>
    </div>
    <div class="parking-spots">

      <app-parking-spot [spotNumber]="1"></app-parking-spot>
      <app-parking-spot [spotNumber]="2"></app-parking-spot>
      <app-parking-spot [spotNumber]="3"></app-parking-spot>
      <app-parking-spot [spotNumber]="4"></app-parking-spot>
    </div>
  </div>-->
</div>


