<div>
  <p class="info">TAP CAR TO TOGGLE OCCUPIED.<br>TAP CHARGER THEN CAR TO CHARGE.</p>
  <div class="main-container"><!--{{chargerData.chargerOneSlot}}-->
    <button style="background-color: blue; color: white;" (click)="printParkingServiceData()">parking service data</button>
    <button style="background-color: blue; color: white;" (click)="printChargerServiceData()">charger service data</button>
    <button style="background-color: blue; color: white;" (click)="printMainData()">print Main Data</button>
    <button style="background-color: blue; color: white;" (click)="printChargerDataFromPS()">print chargerdata from PS</button>
    {{chargerData.chargerOneSlot}} {{temp}}
    <div class="row">
      <div class="col-40 slotBackground">
        <div *ngIf="chargerData.slotFourChargerNumber">
          <app-charger
            [chargerNumber]="chargerData.slotFourChargerNumber"
            [slotNumber]="4"
            [pendingChargerSlot]="chargerData.pendingChargerSlot"
            (chargerClickOutput)="chargerClickHandler($event)"
            [chargerOneSlot]="chargerData.chargerOneSlot"
            [chargerTwoSlot]="chargerData.chargerTwoSlot"
            [timeLeft]="parkingData.slotFourTimeLeft"
          ></app-charger>
        </div>
      </div>
      <div class="col-60">
        <app-parking-spot
          [spotNumber]="4"
          [chargerOneSlot]="chargerData.chargerOneSlot"
          [chargerTwoSlot]="chargerData.chargerTwoSlot"
          [pendingChargerSlot]="chargerData.pendingChargerSlot"
          (parkingSpotClickOutput)="parkingSpotClickHandler($event)"
          [timeLeft]="parkingData.slotFourTimeLeft"></app-parking-spot>
      </div>
    </div>

    <div class="row">
      <div class="col-40 slotBackground">
        <div *ngIf="chargerData.slotThreeChargerNumber">
          <app-charger
            [chargerNumber]="chargerData.slotThreeChargerNumber"
            [slotNumber]="3"
            [pendingChargerSlot]="chargerData.pendingChargerSlot"
            (chargerClickOutput)="chargerClickHandler($event)"
            [chargerOneSlot]="chargerData.chargerOneSlot"
            [chargerTwoSlot]="chargerData.chargerTwoSlot"
            [timeLeft]="parkingData.slotThreeTimeLeft"
          ></app-charger>
        </div>
      </div>
      <div class="col-60">
        <app-parking-spot
          [spotNumber]="3"
          [chargerOneSlot]="chargerData.chargerOneSlot"
          [chargerTwoSlot]="chargerData.chargerTwoSlot"
          [pendingChargerSlot]="chargerData.pendingChargerSlot"
          (parkingSpotClickOutput)="parkingSpotClickHandler($event)"
          [timeLeft]="parkingData.slotThreeTimeLeft"></app-parking-spot>
      </div>
    </div>

    <div class="row">
      <div class="col-40 slotBackground">
        <div *ngIf="chargerData.slotTwoChargerNumber">
          <app-charger
            [chargerNumber]="chargerData.slotTwoChargerNumber"
            [slotNumber]="2"
            [pendingChargerSlot]="chargerData.pendingChargerSlot"
            (chargerClickOutput)="chargerClickHandler($event)"
            [chargerOneSlot]="chargerData.chargerOneSlot"
            [chargerTwoSlot]="chargerData.chargerTwoSlot"
            [timeLeft]="parkingData.slotTwoTimeLeft"
          ></app-charger>
        </div>
      </div>
      <div class="col-60">
        <app-parking-spot
          [spotNumber]="2"
          [chargerOneSlot]="chargerData.chargerOneSlot"
          [chargerTwoSlot]="chargerData.chargerTwoSlot"
          [pendingChargerSlot]="chargerData.pendingChargerSlot"
          (parkingSpotClickOutput)="parkingSpotClickHandler($event)"
          [timeLeft]="parkingData.slotTwoTimeLeft"></app-parking-spot>
      </div>
    </div>

    <div class="row">
      <div class="col-40 slotBackground">
        <div *ngIf="chargerData.slotOneChargerNumber">
          <app-charger
            [chargerNumber]="chargerData.slotOneChargerNumber"
            [slotNumber]="1"
            [pendingChargerSlot]="chargerData.pendingChargerSlot"
            (chargerClickOutput)="chargerClickHandler($event)"
            [chargerOneSlot]="chargerData.chargerOneSlot"
            [chargerTwoSlot]="chargerData.chargerTwoSlot"
            [timeLeft]="parkingData.slotOneTimeLeft"
          ></app-charger>
        </div>
      </div>
      <div class="col-60">
        <app-parking-spot
          [spotNumber]="1"
          [chargerOneSlot]="chargerData.chargerOneSlot"
          [chargerTwoSlot]="chargerData.chargerTwoSlot"
          [pendingChargerSlot]="chargerData.pendingChargerSlot"
          (parkingSpotClickOutput)="parkingSpotClickHandler($event)"
          [timeLeft]="parkingData.slotOneTimeLeft"></app-parking-spot>
      </div>
    </div>
  </div>
</div>


