.info {
  text-align: center;
  background: #0067b8;
  margin: 0 0 8px;
  padding: 3px 0;
}

.main-container {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    height: 20vh;
  }

  .col-40 {
    width: calc(40vw - 3px);
  }

  .col-60 {
    width: 60vw;
  }
}
