.charger {
  height: 19vh;
  width: 40vw;
  //min-width: 150px;
  //max-width: 300px;
  //background: rgba(0, 0, 0, 0.5);
}

.cls-1, .cls-2, .cls-3 {
  background: #00AF66;
  fill: #00AF66;
}

#Layer_1 {
  //transform: scale(0.5);
  width: 15vw;
  padding-left: 5px;
}

.graphic-container {
  display: flex;
}


h1 {
  text-align: center;
  margin-bottom: -3px;
  transform: translateX(-12vw);
}

img {
  //transform: scale(0.8);
  width: 20vw;
  padding-left: 2vw;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-iteration-count: infinite;
}
