/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  color: white;
  font-family: 'Orbitron', sans-serif;
  background-image: url("./assets/img/blue-circuit-board.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
